<h4>Card List</h4>

<button class="btn btn-primary" (click)="clickAddCard()">Add Card</button>

<table class="table table-striped" *ngIf="cards && cards.length > 0">
    <thead>
      <tr>
        <th>Done</th>
        <th>Name</th>
        <th>Created Date</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let card of cards, let index = index">
        <td><input type="checkbox" [checked]="card.done" (change)="checkedDone(index)" /></td>
        <td [ngClass]="{'done': card.done, 'not-done': !tcarddone}">{{card.name}}</td>
        <td>{{card.lastModifiedDate | date}}</td>
        <td><button class="btn btn-primary btn-edit" (click)="handleEditClick(card)">Edit</button>
          <button class="btn btn-danger" (click)="handleDeleteClick(card.id, index)">Delete</button></td>
      </tr>
    </tbody>
  </table>
